In [6]:
Price = 54.668
print(f"The price of the screen is {Price:.2f}")

The price of the screen is 54.67

In [10]:
lis = [1,2,3,4,5]
if 5 in lis:
    print("The 5 is in the list")

The 5 is in the list

In [14]:
lis[2:3] = [45, 64]
lis

[1, 2, 45, 64, 4, 5]

In [3]:
a =  "Hari"
print("My name is", a)

My name is Hari

In [17]:
lis.insert(0, 86)
lis

[86, 1, 2, 86, 86, 45, 64, 4, 5]

In [22]:
fru = ("Apple", "orange", "grapes", "Badam", "Cashew", "Pista")
lis.insert(0,"cashew")
lis

['cashew', 'cashew', 'cashew', 'cashew', 86, 1, 2, 86, 86, 45, 64, 4, 5]

In [23]:
(r , g, *b) = fru
print(b)

['grapes', 'Badam', 'Cashew', 'Pista']

In [25]:
var = 3
var

3

In [26]:
name = input ("Name is, ")
print("The", name)

Name is,  hari

The hari

In [32]:
x = 4
if x == 10:
    print("on 10")
elif x < 10:
    print("Below 10")
else:
    print ("above 10")

above 10

In [33]:

nums = [10, 20, 30]
for n in nums:
    print(n)

for i, n in enumerate(nums):
    print(i, n)

10
20
30
0 10
1 20
2 30

In [11]:
password = 0
i = 0
while password < 5:
    i = i+1
    password = i
    print(password)

1
2
3
4
5

In [33]:
N=5
total = 0
for i in range(1, N+1):
    total = total+i
    #print (total)
print(total)

15

In [30]:

N = 5
total = 0            # accumulator

for i in range(1, N + 1):
    total += i       # same as total = total + i

print(total)

15

In [40]:
N = 26
total = 0
for i in range (2, N+1, 2):
    total = i + total
    print(i)
print("The total is", total)

2
4
6
8
10
12
14
16
18
20
22
24
26
The total is 182

In [47]:
f = 5
i = 1;
while i<= 5:
    i = i+1
    f = f*i
print(f)

3600

In [ ]:
fact = 1
i= 1
n = 5
while i <= n:
    fact = fact * i
    i =+ 1
print(fact)

In [4]:
n = 7
l = 1
for i in range(10+1):
    d = i*n
    l = i+1
    print(d)

0
7
14
21
28
35
42
49
56
63
70

In [10]:
def room():
    global x
    x = "Ho"
    y = "hoi"
room()
print(y)

<class 'NameError'>: name 'y' is not defined

In [8]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [15]:
import random
print(random.randrange(10))

9

In [19]:
a = """hi,
this was
int"""
a

'hi,\nthis was\nint'

In [29]:
b = "hello world   "
a = "sir"
print(b[2:5])
print(b.strip())
print(b + a)

llo
hello world
hello world   sir

In [33]:
age = 23
t="my age is", age
t

('my age is', 23)

In [56]:
# class Age:
#     x = 5
# c1 = Age()
# print(c1)

In [51]:
class Person:
    def __init__ (self, name, age = 39):
        self.name = name
        self.age = age
cd = Person("Hari", 23)
cd.age

23

In [58]:
class Per:
    def __init__(self, names):
        self.names = names
        #self.ages = ages

    def chars(self):
        return "Hello," + self.names

d1 = Per("tobias")
p1.chars()

<class 'AttributeError'>: 'Age' object has no attribute 'chars'

In [66]:
class Rooms:
    def __init__ (self, roomno, floor):
        self.roomno = roomno
        self.floor = floor
r1 = Rooms(101, 1)

r1.floor

1

In [81]:
class Person:
#Parent class
    def __init__(self,fname,lname, number= None):
        self.fname = fname
        self.lname = lname
        self.number = number
    def printname(self):
        print(self.lname, self.fname,)

#child class
class Students(Person):
    pass


class Teachers(Students):
    def printnumbers(self):      
        print(self.number, self.lname, self.fname)

        
s1 = Students("Harivignesh", "D")
s1.printname()

t1 = Teachers("Sridevi", "M", 2004)
t1.printnumbers()

D Harivignesh
2004 M Sridevi

In [1]:
lis = ["apple", "banana", "cherry"]
for i in lis:
    while "apple" in lis:
        print(lis[1])
        break

banana
banana
banana

In [6]:
thislist = [1,2,3,4,5]
thislist[1] = 45
thislist

[1, 45, 3, 4, 5]

In [5]:
thislist.insert(2, 33)
thislist

[1, 45, 33, 33, 3, 4, 5]

In [9]:
thislist.append(55)
thislist

[1, 45, 3, 4, 5, 45, 55]

In [20]:
cars = {
    "model" : "corolla",
    "company" : "toyota",
    "year" : 2003
}
cars.get("model")
cars["org"] = "1985"
cars
cars.update({"color": "red"})
new_cars = {
    "variant" : "new1",
    "field" : "india"
}
cars.update(new_cars)
cars

{'model': 'corolla',
 'company': 'toyota',
 'year': 2003,
 'org': '1985',
 'color': 'red',
 'variant': 'new1',
 'field': 'india'}

In [23]:
for xx in cars:
    print(xx)

model
company
year
org
color
variant
field

In [26]:
print( """Twinkle, twinkle, little star\t How I wonder what you are! \t         Up above the world so high,
\t #         Like a diamond in the sky. 
\t # Twinkle, twinkle, little star, 
\t #     How I wonder what you are""")

Twinkle, twinkle, little star	 How I wonder what you are! 	         Up above the world so high,
	 #         Like a diamond in the sky.
	 # Twinkle, twinkle, little star,
	 #     How I wonder what you are

In [37]:
col = int(input("Enter the number of columns: "))
row = int(input("Enter the number of rows: "))
twod = [[0 for r in range(row)] for c in range(col)]
for i in range(row):
    for j in range(col):
        twod[j][i] = i * j
twod

Enter the number of columns:  4
Enter the number of rows:  3

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

In [40]:
for i in range(10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
i = 0
while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [9]:
i = 10
while i >= 1:
    i = i-1
    print(i)

9
8
7
6
5
4
3
2
1
0

In [15]:
for i in range(11):
    print(i)
for j in range (11):
    print(j)
mul = i * j
mul

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

100

In [17]:
i = 0
j = 10
while i <= 10:
    print(f"{i} x {j} = {i*j}")
    i += 1

0 x 10 = 0
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100